@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Varela&display=swap');

:root {
	--c1: #4d4c4a;
	--c2: #263b44;
	--bgd: #49a7c5;
	--wh: #ffffff;
	--hf: "Changa One";
	--bf: "Varela";
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--bf);
	background-color: var(--wh);
}

/* Center the entire page, but not the content */
body {
	max-width: 100vw;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	/* This ensures the page is centered with a max width */
	margin: 0 auto;
	padding: 20px;
}

/* Headings should remain centered as they were */
h1,
h2,
h3,
h4 {
	font-family: var(--hf);
	font-weight: 500;
	color: var(--bgd);
	text-align: center;
	padding: 10px 0;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.75em;
}

/* Keep paragraphs left-aligned as before */
p {
	color: var(--c2);
	font-size: 1em;
}

.team h5 {
	font-size: .75em;
}

small {
	font-size: .6em;
}

.members p {
	line-height: 1em;
}

/* Navbar and footer */
.navbar-nav,
footer {}

nav .container {
	padding-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link,
footer a {
	color: var(--bgd) !important;
	padding-top: .5em;
	font-style: normal;
	font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 1.25em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover,
footer a:hover {
	color: var(--c2) !important;
}

.navbar-nav .nav-item {
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.navbar-brand {
	margin-top: .5em;
	width: 150px;
}

.main {
	padding-top: 50px;
}


/* The 'model' remains inside the centered page */
.model {
	width: 100%;
	min-height: 600px;
	overflow: hidden;
	/* Ensure anything outside the boundaries is hidden */
	position: relative;
	/* Allows for absolute positioning inside */
}

model-viewer {
	width: 100%;
	height: 100%;
	/* Make the model twice the height of the container */
	position: absolute;
	align-items: center;
	/* Allows you to control the position relative to the container */
	top: 0%;
	/* Moves the model up by half its height to center it within the div */
}

.doi a:link{
	color: var(--c1) !important;
	font-family: var(--bf);
	text-decoration: none;
	font-style: italic;
	font-size: 1em;
	letter-spacing: .02em;
}

.progress-bar {
	display: block;
	width: 33%;
	height: 10%;
	max-height: 2%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 25px;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
	visibility: hidden; 
	transition: visibility 0.3s;
}

.update-bar {
	background-color: rgba(255, 255, 255, 0.9);
	width: 0%;
	height: 100%;
	border-radius: 25px;
	float: left;
	transition: width 0.3s;
}

/* Feature section */
.feature {
	position: relative;
	margin-bottom: 30px;
}

.feature p {
	line-height: 1.5;
	padding-right: 25%;
}

.feature-icon {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: inline-block;
	background: var(--c3);
	text-align: center;
	padding-top: .5em;
	position: absolute;
	left: -20%;
	top: 0;
}

.feature-title {
	font-size: 1.25em;
	text-align: left;
}

figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 5px;
}

figcaption, figcaption h5, figcaption small, figcaption a {
	text-align: center;
	font-family: var(--hf);
	line-height: .75em;
	padding-bottom: 0px;
}

figcaption h5 {
	padding-top: 5px;
}

/* General link styles */
.btn,
.card,
.btn:hover {
	background-color: var(--none);
}

.btn-link,
a,
.card-title {
	font-family: var(--hf);
	color: var(--c1) !important;
	text-decoration: none;
	font-size: 1.25em;
	letter-spacing: 0.1em;
	line-height: .8em;
}

.navbar-dark .navbar-nav .nav-link:hover,
footer a:hover {
	color: var(--c2) !important;
}

footer p {
	color: var(--c2);
	text-align: center;
	font-size: 1em;
}

footer a {
	font-size: 1.1em;
	color: var(--bgd) !important;
	text-align: center;
}

footer a:hover {
	color: var(--c2) !important;
	text-decoration: none;
}

/* Progress bar styles for model viewer */
.progress-bar {
	display: block;
	width: 33%;
	height: 10%;
	max-height: 2%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}

.update-bar {
	background-color: rgba(255, 255, 255, 0.9);
	width: 0%;
	height: 100%;
	border-radius: 25px;
	transition: width 0.3s;
}

/* Quotes */
blockquote {
	font-size: .9em;
	font-style: italic;
	text-align: center;
}

blockquote cite {
	display: block;
	font-weight: bold;
	text-align: right;
}

address {
	color: #ffffff;
}

/* Table styles */
table {
	border-bottom: 1px solid var(--bgd);
}

th {
	border-bottom: 1px solid var(--bgd);
	border-top: 1px solid var(--bgd);
}

table {
	font-size: .9em;
}

/* Anchor link styles */
a {
	color: var(--bgd);
	text-decoration: none; 
}

a:hover {
	color: var(--c1);
	text-decoration: underline;
}

.media-captions p {
	text-align: center;
	margin: .5em;
	font-size: .8em;
}

/* Responsive Design */
@media (max-width: 576px) {
	h1 {
		font-size: 3em;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		padding-top: 4em;
		font-size: 3.5em;
	}
}