@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Outfit:wght@700&display=swap');

:root {
<<<<<<< HEAD
	--c4: #edeae8;
	--c5: #004a82;
	--c2: #18134e;
	--c3: #291b2f;
	--c1: #e51147;
=======
	--c1: #e51147;
	--c2: #004a82;
	--c3: #18134e;
	--c4: #edeae8;
	--c5: #291b2f;
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
	--f1: "Outfit";
	--f2: "Bowlby One SC";
}


body {
	font-family: var(--f1);
	background-color: var(--c4);
}

<<<<<<< HEAD
h1,
h2,
h3,
h4,
h5 {
=======
h1, h2, h3, h4, h5 {
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
	font-family: var(--f2);
}

header {

}

header p {
	font-weight: 900;
	font-size: 1.25em;
}

header img {
	max-width: 90%;
}

.wrapper {
	width: 100%
}

.bg-c1 {
	background-color: var(--c1);
	color: var(--c4);
}

.bg-c1 a {
	color: var(--c4);
	font-family: var(--f1);
	font-weight: 900;
}

.bg-c1 a:hover {
	color: var(--c2);
}

.bg-c2 {
	background-color: var(--c2);
	color: var(--c4);
}

.bg-c2 a {
	color: var(--c4);
	font-family: var(--f1);
	font-weight: 900;
}

.bg-c2 a:hover {
	color: var(--c1);
}

.bg-c3 {
	background-color: var(--c3);
	color: var(--c4);
}

.bg-c3 a {
	color: var(--c4);
	font-family: var(--f1);
	font-weight: 900;
}

.bg-c3 a:hover {
	color: var(--c1);
}

.bg-c4 {
	background-color: var(--c4);
	color: var(--c3);
}

.bg-c4 a {
	color: var(--c3);
	font-family: var(--f1);
	font-weight: 900;
}

.bg-c4 a:hover {
	color: var(--c1);
}

.bg-c5 {
	background-color: var(--c5);
	color: var(--c4);
}

.bg-c5 a {
	color: var(--c4);
	font-family: var(--f1);
	font-weight: 900;
}

.bg-c5 a:hover {
	color: var(--c1);
}

.bg-grape {
	background-color: var(--c3);
<<<<<<< HEAD
	color: var(--c4);
=======
    color: var(--c4);
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
}

.bg-eggplant {
	background-color: var(--c2);
<<<<<<< HEAD
	color: var(--c4);
}

.bg-eggplant a {
	color: var(--c4);
=======
    color: var(--c4);
}

.bg-eggplant a {
    color: var(--c4);
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
	font-family: var(--f1);
	font-weight: 900;
}

.bg-eggplant a:hover {
<<<<<<< HEAD
	color: var(--c1);
=======
    color: var(--c1);
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
}

.bg-sand {
	background-color: var(--c2);
<<<<<<< HEAD
	color: var(--c4);
=======
    color: var(--c4);
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
}

.bg-shell {
	background-color: var(--c4);
<<<<<<< HEAD
	color: var(--c3);
=======
    color: var(--c3);
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
}

.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

<<<<<<< HEAD
nav .nav-link,
footer a {
=======
nav .nav-link, footer a {
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
	font-family: var(--f2);
	font-weight: 300;
	color: var(--c4) !important;
}

nav .nav-link:hover,
footer a:hover {
	font-weight: 600;
	text-decoration: none;
	color: var(--c1) !important;
}

a {
	font-family: var(--f2);
	font-weight: 500;
	color: var(--c3);
}

a:hover {
	font-weight: 900;
	text-decoration: none;
	color: var(--c2);
}

.align-right {
	text-align: right;
}

figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 5px;
}

figcaption {
	text-align: center;
}

figcaption h5 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 1em;
	line-height: .75em;
}

figcaption small {
	font-family: var(--f1);
	font-weight: 900;
	font-size: .75em;
	margin-top: 0px;
}

.wrapper {
	margin-top: -10px;
	margin-bottom: -10px;
}

/** This is an attempt to get filter working **/
.row {
	margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
	padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 100%;
	display: none;
	/* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
<<<<<<< HEAD
	background-color: var(--c4);
	padding: 10px;
=======
  background-color: var(--c4);
  padding: 10px;
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
}

.content h4 {
	margin-top: 4px;
	font-size: 1em;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	margin-top: 5px;
}

.content a {
	font-family: var(--f1);
	font-weight: 700;
}

/* The "show" class is added to the filtered elements */
.show {
	display: block;
}

/* Style the buttons
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
} */

/* Add a grey background color on mouse-over */
.btn:hover {
<<<<<<< HEAD
	background-color: var(--c3);
=======
  background-color: var(--c3);
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
	color: var(--c4);
}

img .btn:hover {
<<<<<<< HEAD
	background-color: var(--c2);
=======
  background-color: var(--c2);
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
	color: var(--c4);
}

/* Add a dark background color to the active button */
.btn.active {
<<<<<<< HEAD
	background-color: var(--c3);
	color: white;
=======
  background-color: var(--c3);
   color: white;
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
}

.feature {
	padding-left: 90px;
	position: relative;
	margin-bottom: 30px;
}

.feature p {
	line-height: 1.5;
	margin: 0;
}

.feature-icon {
<<<<<<< HEAD
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: inline-block;
	background: var(--c3);
	text-align: center;
	padding-top: 20px;
	position: absolute;
	left: 0;
	top: 0;
}
=======
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  background: var(--c3);
  text-align: center;
  padding-top: 20px;
  position: absolute;
  left: 0;
  top: 0; }
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47

.feature-title {
	font-size: 1.25em;
}


#home {}

#team {}

#projects {}

.media-kit {
	padding: 50px 0px;
}

<<<<<<< HEAD
.fact-sheet a:hover {
=======
.fact-sheet a:hover{
>>>>>>> d2f8d52f7088fb966c5bda7c76563c11416aca47
	color: var(--c1);
	font-weight: 400;
}

.media-captions p {
	text-align: center;
	font-style: italic;
}